body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1100px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.right-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2b331f;
  padding: 100px 90px;
  width: 730px;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  color: #2b331f;
  width: 540px;
}
h3 {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  margin: 0 0 10px 3px;
  color: #2b331f;
}
h2 {
  color: #2b331f;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2b331f;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #2b331f;
}
.date {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  font-weight: 400;
}
.text-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #2b331f;
  padding-left: 17px;
}
.text-orange {
  color: #e24c2c;
}
.about-me-text {
  width: 400px;
}
.my-projects {
  width: 485px;
  margin-top: 40px;
}
.my-project-item {
  color: #595959;
  font-weight: 485;
  margin-left: 5px;
}
.my-work-experience {
  width: 530px;
  margin-top: 40px;
}
.wand {
  color: #2b331f;
  font-weight: 700;
  padding: 0 8px;
}
.shift {
  padding-left: 17px;
}
.my-education {
  width: 355px;
  margin-top: 40px;
}
.sidebar {
  background-color: #bbc8ba;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 370px;
  padding: 40px 0;
}
.contact {
  margin: 50px 0 0 40px;
}
.contact-type {
  color: #2b331f;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
}
.contact-link {
  color: #2b331f;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding-left: 3px;
}
.skills {
  margin: 50px 0 0 40px;
}
.skills-list {
  padding-left: 17px;
}
.contact-list {
  padding-left: 5px;
}
